@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { @apply text-gray-900 bg-white; }
  body { @apply antialiased; }
  h1,h2,h3,h4,h5,h6 { @apply font-sans font-bold tracking-tight; }
  a { @apply underline-offset-4 decoration-gray-200 hover:decoration-gray-900; }
  *:focus-visible { @apply outline-none ring-2 ring-black; }
}

@layer components {
  .container-max { @apply container max-w-[1280px]; }
  .card { @apply bg-white shadow-card border border-gray-200; }
}
